.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
}
.nav ul li button {
    padding: .5rem 2rem;
    border: none;
    background-color: #ff5400;
    color: white;
}

.nav ul li button:hover {
    cursor: pointer;
}