.cards {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.nav ul li button {
    padding: .5rem 2rem;
    border: none;
    background-color: #ff5400;
    color: white;
}

.nav ul li button:hover {
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .cards {
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

    }
    }

@media screen and (min-width: 1024px) {
    .cards {
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
}