


.select select {
    height: 2rem;
    width:  8rem;
    font-size: .9rem;
    outline: none;
    background-color: #272727;
    border-color:  #ff5400;
    color: white;

}

.form {
    color :white;
    display: flex;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2rem;
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .form {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
    
    .select {
        align-items: center;
        flex-direction: row;
    }
    
    .select select {
        font-size: .9rem;   
        outline: none;
        background-color: #272727;
        border-color:  #ff5400;
        color: white;
    }
  
}

.resetContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buttonReset {
    padding: .5rem 2rem;
background-color: #ff5400;
color: white;
border: none;

}

.buttonReset:hover {
    cursor: pointer;
}


