.contenedor {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;

}


.contenedor h1 {
    color: white;
    margin-bottom: 1rem;
}

